# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_Database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Yaan,NG,7.3833,8.5667,70.65,75,90,4.94,overcast clouds
1,1,Punta Arenas,CL,-53.1500,-70.9167,48.31,66,0,12.66,clear sky
2,2,Cape Town,ZA,-33.9258,18.4232,64.38,68,0,14.97,clear sky
3,3,Ulkan,RU,57.2430,107.3223,31.50,84,96,11.07,overcast clouds
4,4,Westport,US,41.1415,-73.3579,43.75,70,0,10.36,clear sky
5,5,Pathein,MM,16.7833,94.7333,83.32,62,100,8.97,overcast clouds
6,6,Santa Rosa,PH,14.3122,121.1114,90.09,69,79,12.35,broken clouds
7,7,Jamestown,US,42.0970,-79.2353,33.39,65,100,11.50,overcast clouds
8,8,Kavieng,PG,-2.5744,150.7967,84.65,70,89,8.05,light rain
9,9,Ketchikan,US,55.3422,-131.6461,41.47,93,0,6.91,clear sky

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("Please enter minimum temperature: "))
# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("Please enter maximum temperature: "))

Please enter minimum temperature: 40
Please enter maximum temperature: 60

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] > (min_temp)) & (city_data_df["Max Temp"]<(max_temp))]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Punta Arenas,CL,-53.1500,-70.9167,48.31,66,0,12.66,clear sky
4,4,Westport,US,41.1415,-73.3579,43.75,70,0,10.36,clear sky
9,9,Ketchikan,US,55.3422,-131.6461,41.47,93,0,6.91,clear sky
10,10,Misawa,JP,40.6836,141.3597,45.61,49,78,15.43,broken clouds
16,16,Bredasdorp,ZA,-34.5322,20.0403,55.26,72,100,3.22,overcast clouds
19,19,Sitka,US,57.0531,-135.3300,46.29,76,0,4.61,clear sky
22,22,Saint George,US,37.1041,-113.5841,46.99,42,0,4.61,clear sky
26,26,New Norfolk,AU,-42.7826,147.0587,59.92,46,100,3.00,overcast clouds
27,27,San Patricio,US,28.0170,-97.5169,52.84,60,100,6.64,overcast clouds
32,32,Nemuro,JP,43.3236,145.5750,42.69,58,58,9.55,broken clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Punta Arenas,CL,-53.1500,-70.9167,48.31,66,0,12.66,clear sky
4,4,Westport,US,41.1415,-73.3579,43.75,70,0,10.36,clear sky
9,9,Ketchikan,US,55.3422,-131.6461,41.47,93,0,6.91,clear sky
10,10,Misawa,JP,40.6836,141.3597,45.61,49,78,15.43,broken clouds
16,16,Bredasdorp,ZA,-34.5322,20.0403,55.26,72,100,3.22,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
681,681,Sayyan,YE,15.1718,44.3244,52.12,40,5,3.62,clear sky
685,685,Viedma,AR,-40.8135,-62.9967,56.93,64,0,11.99,clear sky
690,690,Pecos,US,31.4229,-103.4932,44.31,39,75,4.61,broken clouds
693,693,Tsubame,JP,37.6500,138.9333,54.84,66,97,3.91,overcast clouds
704,704,Emborion,GR,40.4833,21.5500,51.30,90,100,6.04,overcast clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df

             City Country  Max Temp Current Description      Lat       Lng
1    Punta Arenas      CL     48.31           clear sky -53.1500  -70.9167
4        Westport      US     43.75           clear sky  41.1415  -73.3579
9       Ketchikan      US     41.47           clear sky  55.3422 -131.6461
10         Misawa      JP     45.61       broken clouds  40.6836  141.3597
16     Bredasdorp      ZA     55.26     overcast clouds -34.5322   20.0403
..            ...     ...       ...                 ...      ...       ...
681        Sayyan      YE     52.12           clear sky  15.1718   44.3244
685        Viedma      AR     56.93           clear sky -40.8135  -62.9967
690         Pecos      US     44.31       broken clouds  31.4229 -103.4932
693       Tsubame      JP     54.84     overcast clouds  37.6500  138.9333
704      Emborion      GR     51.30     overcast clouds  40.4833   21.5500

[153 rows x 6 columns]

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Punta Arenas,CL,48.31,clear sky,-53.1500,-70.9167,
4,Westport,US,43.75,clear sky,41.1415,-73.3579,
9,Ketchikan,US,41.47,clear sky,55.3422,-131.6461,
10,Misawa,JP,45.61,broken clouds,40.6836,141.3597,
16,Bredasdorp,ZA,55.26,overcast clouds,-34.5322,20.0403,
...,...,...,...,...,...,...,...
681,Sayyan,YE,52.12,clear sky,15.1718,44.3244,
685,Viedma,AR,56.93,clear sky,-40.8135,-62.9967,
690,Pecos,US,44.31,broken clouds,31.4229,-103.4932,
693,Tsubame,JP,54.84,overcast clouds,37.6500,138.9333,
704,Emborion,GR,51.30,overcast clouds,40.4833,21.5500,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [8]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [9]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# Display sample data
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Punta Arenas,CL,48.31,clear sky,-53.1500,-70.9167,Hotel Hain
4,Westport,US,43.75,clear sky,41.1415,-73.3579,The Westport Inn
9,Ketchikan,US,41.47,clear sky,55.3422,-131.6461,Snow's Cove Lodge
10,Misawa,JP,45.61,broken clouds,40.6836,141.3597,Hoshino Resorts Aomoriya
16,Bredasdorp,ZA,55.26,overcast clouds,-34.5322,20.0403,Bredasdorp Country Manor
...,...,...,...,...,...,...,...
681,Sayyan,YE,52.12,clear sky,15.1718,44.3244,متنزه و بحيرة سيان
685,Viedma,AR,56.93,clear sky,-40.8135,-62.9967,Hotel Cristal
690,Pecos,US,44.31,broken clouds,31.4229,-103.4932,Knights Inn & Suites Pecos Northeast
693,Tsubame,JP,54.84,overcast clouds,37.6500,138.9333,Hotel Route Inn Tsubamesanjo Ekimae
704,Emborion,GR,51.30,overcast clouds,40.4833,21.5500,Villa Kastanodasos

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [11]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Punta Arenas,CL,48.31,clear sky,-53.1500,-70.9167,Hotel Hain
4,Westport,US,43.75,clear sky,41.1415,-73.3579,The Westport Inn
9,Ketchikan,US,41.47,clear sky,55.3422,-131.6461,Snow's Cove Lodge
10,Misawa,JP,45.61,broken clouds,40.6836,141.3597,Hoshino Resorts Aomoriya
16,Bredasdorp,ZA,55.26,overcast clouds,-34.5322,20.0403,Bredasdorp Country Manor
...,...,...,...,...,...,...,...
681,Sayyan,YE,52.12,clear sky,15.1718,44.3244,متنزه و بحيرة سيان
685,Viedma,AR,56.93,clear sky,-40.8135,-62.9967,Hotel Cristal
690,Pecos,US,44.31,broken clouds,31.4229,-103.4932,Knights Inn & Suites Pecos Northeast
693,Tsubame,JP,54.84,overcast clouds,37.6500,138.9333,Hotel Route Inn Tsubamesanjo Ekimae
704,Emborion,GR,51.30,overcast clouds,40.4833,21.5500,Villa Kastanodasos

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [12]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [13]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [14]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [15]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Hain</dd>\n<dt>City</dt><dd>Punta Arenas</dd>\n<dt>Country</dt><dd>CL</dd>\n<dt>Current Weather</dt><dd>clear sky and 48.31 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>The Westport Inn</dd>\n<dt>City</dt><dd>Westport</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 43.75 °F</dd>\n</dl>\n',
 "\n<dl>\n<dt>Hotel Name</dt><dd>Snow's Cove Lodge</dd>\n<dt>City</dt><dd>Ketchikan</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 41.47 °F</dd>\n</dl>\n",
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hoshino Resorts Aomoriya</dd>\n<dt>City</dt><dd>Misawa</dd>\n<dt>Country</dt><dd>JP</dd>\n<dt>Current Weather</dt><dd>broken clouds and 45.61 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Bredasdorp Country Manor</dd>\n<dt>City</dt><dd>Bredasdorp</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 55.26 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Westmark Sitka</dd>\n<dt>City</dt><dd>Sitka</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 46.29 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Best Western Plus Abbey Inn</dd>\n<dt>City</dt><dd>Saint George</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 46.99 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>The Shingles Riverside Cottages</dd>\n<dt>City</dt><dd>New Norfolk</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 59.92 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Motel 6 Sinton, TX</dd>\n<dt>City</dt><dd>San Patricio</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 52.84 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Nemuro Kaiyoutei</dd>\n<dt>City</dt><dd>Nemuro</dd>\n<dt>Country</dt><dd>JP</dd>\n<dt>Current Weather</dt><dd>broken clouds and 42.69 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [16]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)
locations.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 153 entries, 1 to 704
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Lat     153 non-null    float64
 1   Lng     153 non-null    float64
dtypes: float64(2)
memory usage: 7.7 KB

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [17]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))